@import './_normalize.css';
@import url('https://fonts.googleapis.com/css?family=Montserrat|Charm');

* {
  box-sizing: border-box;
}

html {
  font-size: 20px;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #333333;
  line-height: 1.6em;
  background: #efefef;
}

img {
  max-width: 100%;
  max-height: auto;
}

.wrapper {
  width: 800px;
  margin: 0 auto;
  max-width: 100%;
}

#header {
  background: #ddd;
}

#title h1 {
  margin: 0;
}

#title-area {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
  padding-top: 20px;
}

#paper {
  background: #fff;
  padding: 20px 50px;
  margin-bottom: 20px;
  min-height: 1000px;
  box-shadow: 0 10px 10px #ddd;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-flex !important;
  cursor: pointer;
}

#input-button {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

#input-button button {
  cursor: pointer;
}

.input-number {
  width: 50px;
}

#toolbar {
  padding-top: 20px;
  padding-bottom: 10px;
}

#toolbar button {
  background: none;
  border: 0;
  cursor: pointer;

  font-size: 14px;
  font-weight: normal;
}

#toolbar button:hover {
  color: orange;
}

pre {
  display: block;
  background: #efefef;
  padding: 20px;
  margin: 0;
}

code {
  background: #efefef;
  padding: 3px 5px;
  border-radius: 5px;
}

blockquote {
  font-family: 'Charm', cursive;
  padding: 10px;
  line-height: 1.2em;
  font-size: 2.2rem;
  /* border-top: 1px solid #333;
  border-bottom: 1px solid #333; */
}
